@charset "UTF-8";

:root{
    font-family: "Poppins", sans-serif;
    /* Shape */
    --brand-color: #EF5F4C;
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency: #ffffff8f;
    /* Text */
    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    font-size: 32px;
    line-height: 125%;
    font-weight: bold;
}

p {
    font-size: 14px;
    line-height: 170%;
    font-weight: normal ;
}

nav#header{
    padding: 32px 20px;
    display: flex;
}

section#logo{
    display: flex;
}

p#logo{
    color: var(--brand-color);
    font-size: 20px;
    font-weight: bold;
}

img#logo {
    margin-right: 8px;
}

section#navitems{
    display: flex;
    padding: 4px
}

section#navitems div.item{
    margin-right: 20px;
    align-content: center;
}