@import url(global.css);

footer{
    padding-block: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p{
    font: var(--text-md);
    color: var(--text-color-secondary);
}

footer ul{
    list-style: none;
    display: flex;
    gap: 16px;
}

footer li{
    padding: 4px;
}

footer a#creator{
    color: var(--text-color-primary);
    font-style: bolder;
    font-size: 16px;
}

a#creator:hover{
    color: var(--brand-color);
}