@import url(global.css);

main{
    display: flex;
    padding-block: 24px;
    flex-wrap: wrap;
    gap: 24px;
}

main img{
    width: 286px;
    height: 286px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.150);
}
