@import url(global.css);

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding-block: 4px;
    gap: 16px;
    max-width: 325px;
}

nav ul li{
    padding: 4px;
}

nav ul li:last-child{
    padding: 0px;
}

nav ul li:last-child img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

a.lupa .img{
    width: 24px;
    height: 24px;
    background: url(../Assets/Icons/lupamenu.png) center/cover no-repeat;
    display: block;
    transition: 0.3s ease;
}

a.lupa:hover .img{
    background-image: url(../Assets/Icons/LupaSelectedr.png);
}

